<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/static/css/post.css" />
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <title><%=data.company_name%> 정보</title>
    </head>
    <body>
        <!-- 회사 정보 -->
        <div class="company">
            <div class="imgContainer">
                <img
                    class="companyImg"
                    src="/static/img/default.png"
                    alt="회사 로고"
                />
            </div>
            <p class="companyName"><%=data.company_name%></p>
            <p class="experienceLevel"><%=data.levels%></p>
            <button class="likeButton">❤ <%=data.cnt_likes%></button>
        </div>
        <!-- 본문 -->
        <div class="content">
            <div class="introduce">
                <h2>👨‍💻 회사 소개</h2>
                <p><%=data.introduce%></p>
            </div>
            <div class="task">
                <h2>📌 담당 업무</h2>
                <p><%=data.task%></p>
            </div>
            <div class="condition">
                <h2>📜 자격 요건</h2>
                <p><%=data.conditions%></p>
            </div>
            <div class="preferentialTreatment">
                <h2>👍 우대 사항</h2>
                <p><%=data.prefer%></p>
            </div>
            <div class="skills">
                <h2>🔧 기술 스택</h2>
                <p><%=data.stack%></p>
            </div>
            <div class="welfare">
                <h2>✨ 회사 복지</h2>
                <p><%=data.welfare%></p>
            </div>
            <div class="deadline">
                <h2>📅 마감일</h2>
                <p><%=data.deadline%></p>
            </div>
            <div class="location">
                <h2>📍 위치</h2>
                <p class="address"><%=data.address%></p>
                <div class="map"></div>
            </div>
            <div class="source">
                <h2>📎 공고 출처</h2>
                <p><%=data.source%></p>
            </div>
            <div class="other">
                <h2>💡 기타 추가 정보</h2>
                <p><%=data.others%></p>
            </div>
        </div>
        <div class="contentButtons">
            <button class="editButton" onclick="editPost()">수정</button>
            <button
                class="deleteButton"
                onclick="deletePost('<%=data.jobs_id%>')"
            >
                삭제
            </button>
        </div>
        <br />
        <!-- 댓글 -->
        <!-- 댓글 등록 -->
        <div class="comments">
            <form name="inputComment">
                <input
                    type="textarea"
                    name="commentText"
                    placeholder="댓글 입력"
                />
                <button
                    type="button"
                    class="commentButton"
                    onclick="sendCmt('<%=data.jobs_id%>')"
                >
                    등록
                </button>
            </form>
            <br />
            <!-- 댓글 조회 -->
            <% for (let i= 0; i < reviewsdata.length; i++) { %>
            <div class="commentBox" id="cmt_<%=reviewsdata[i].reviews_id%>">
                <p class="writer"><%=reviewsdata[i].users_id%></p>
                <p class="registerDate"><%=reviewsdata[i].created_at%></p>
                <!-- 수정창 전환 시 사라짐 -->
                <span class="commentButtons">
                    <button
                        class="editReqCommentButton"
                        onclick="editReqCmt('<%=reviewsdata[i].reviews_id%>')"
                    >
                        <!-- 수정창 전환 버튼 -->
                        수정
                    </button>
                    <span>|</span>
                    <button
                        class="deleteCommentButton"
                        onclick="deleteCmt('<%=reviewsdata[i].reviews_id%>')"
                    >
                        삭제
                    </button>
                    <div class="commentDiv">
                        <p class="comment">
                            <%=reviewsdata[i].reviews_comment%>
                        </p>
                    </div>
                </span>

                <!-- 수정창 전환 시 나타남 -->
                <form
                    name="editComment_<%=reviewsdata[i].reviews_id%>"
                    class="editComment hidden"
                >
                    <input type="text" name="editTxt" value="opoop" />
                    <button
                        type="button"
                        class="editCommentButton"
                        onclick="editCmt('<%=reviewsdata[i].reviews_id%>')"
                    >
                        <!-- 수정 확인 버튼 -->
                        수정
                    </button>
                    <button
                        type="button"
                        class="editCancelCommentButton"
                        onclick="editReqCmt('<%=reviewsdata[i].reviews_id%>')"
                    >
                        취소
                    </button>
                </form>
            </div>
            <%}%>
        </div>

        <script>
            // 글 수정 patch /jobs
            // 글 삭제 delete /jobs
            function deletePost(jobid) {
                console.log(jobid);
                axios({
                    method: "DELETE",
                    url: "/jobs",
                    data: { jobid: jobid },
                }).then((res) => {
                    if (res) {
                        alert(
                            "성공적으로 삭제되었습니다. 목록으로 돌아갑니다."
                        );
                        document.location.href = "/jobs";
                    } else {
                        alert("게시글을 삭제할 수 없습니다.");
                    }
                });
            }

            // 댓글 등록 post /review
            function sendCmt(jobid) {
                const form = document.forms["inputComment"];
                console.log(form.commentText.value);
                const data = {
                    comment: form.commentText.value,
                    jobsId: jobid,
                };
                if (form.commentText.value.length === 0) {
                    alert("내용을 입력해주세요.");
                    return;
                } else {
                    axios({
                        method: "POST",
                        url: "/review",
                        data: data,
                    })
                        .then((res) => {
                            console.log("resdata", res.data);
                            document.location.reload();
                        })
                        .catch((err) => console.log(err));
                }
            }

            // 댓글 수정창 전환
            // 사라질 부분 commentButtons
            // 나올 부분 editComment
            // 나중에 최적화 하기
            function editReqCmt(reviewid) {
                const findCmt = document.getElementById(`cmt_${reviewid}`);
                const cmtTxt = findCmt.querySelector(".comment").innerText;
                const onDefault = findCmt.querySelector(".commentButtons");
                const offDefault = findCmt.querySelector(".editComment");
                onDefault.classList.toggle("hidden");
                offDefault.classList.toggle("hidden");
                const txtbox = findCmt.querySelector("input");
                txtbox.setAttribute("value", `${cmtTxt}`);
            }

            // 댓글 수정 PATCH /review
            function editCmt(reviewid) {
                const form = document.forms[`editComment_${reviewid}`];
                if (form.editTxt.value.length === 0) {
                    alert("내용을 입력해주세요.");
                    return;
                } else {
                    axios({
                        url: "/review",
                        method: "PATCH",
                        data: {
                            reviewId: reviewid,
                            comment:
                                document.forms[`editComment_${reviewid}`]
                                    .editTxt.value,
                        },
                    })
                        .then((res) => {
                            console.log(res);
                            document.location.reload();
                        })
                        .catch((err) => console.log(err));
                }
            }

            // 댓글 삭제 delete /review
            function deleteCmt(reviewid) {
                console.log(reviewid);
                axios({
                    method: "DELETE",
                    url: "/review",
                    data: { reviewId: reviewid },
                }).then((res) => {
                    if (res) {
                        alert("댓글이 삭제되었습니다.");
                        document.location.reload();
                    } else {
                        alert("댓글을 삭제할 수 없습니다.");
                    }
                });
            }
        </script>
    </body>
</html>
