<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>결과 페이지</title>
    </head>

    <body>
        <div name="jobs">
            <h1>📕 회사 로고</h1>
            <img
                id="resultImage"
                src="<%= Info && Info.img_path ? `/uploads/${Info.img_path}` : '/static/img/default.png' %>"
                alt="회사 로고"
                width="100"
                height="100"
                class="profile"
            />
            <br />

            <h1>📗 회사명</h1>
            <p>회사명: <%= Info.company_name || "N/A" %></p>
            <br />

            <h1>📘 경력</h1>
            <p>경력: <%= Info.levels || "N/A" %></p>
            <br />

            <h1>👨‍💻 회사 소개</h1>
            <p>회사 소개: <%= Info.introduce || "N/A" %></p>
            <br />

            <h1>📌 담당 업무</h1>
            <p>담당 업무: <%= Info.task || "N/A" %></p>
            <br />

            <h1>📜 자격요건</h1>
            <p>자격요건: <%= Info.conditions || "N/A" %></p>
            <br />


            <h1>👍 우대 사항</h1>
            <p>우대 사항: <%= Info.prefer || "N/A" %></p>
            <br />      

            <h1>🔧 기술 스택</h1>
            <p>
            <p>기술: <%= Info.stack || "N/A" %></p>
            </p>

            <h1>✨ 회사 복지</h1>
            <p>
            <p>복지: <%= Info.welfaer || "N/A" %></p>
            </p>

            <h1>📅 마감일</h1>
            <p>
            <p>복지: <%= Info.deadline || "N/A" %></p>
            </p>


            <h1>📍 위치</h1>
            <p>주소: <%= Info.address || "N/A" %></p>
            <p>상세 주소: <%= Info.address_detail || "N/A" %></p>
            <br />


            <h1>📎 공고 출처</h1>
            <p>공고 출처: <%= Info.source || "N/A" %></p>
            <br />

            <h1>💡 기타 추가 정보</h1>
            <p>추가 정보: <%= Info.others || "N/A" %></p>
            <br />


        </div>

        
    </body>
</html>
